.board {
    position: absolute;
    top: 3vh;
    left: 50%;
}

.grid {
    margin: auto;
    width: 150vh;
    transform: rotate(-30deg);
    position: relative;
    left: -50%;
}

ol.odd {
    position: relative;
    left: 3.85vh;
    height: 7vh;
    margin-top: 0.35vh;
    margin-bottom: 0.35vh;
}

ol.even {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 7vh;
}

.hex {
    position: relative;
    margin: 0px auto;
    width: 3.99vh;
    height: 7vh;
    background: #ccc;
    transform: rotate(-30deg);
    display: inline-block;
    margin-right: 3.85vh;
    transition: all 150ms ease-in-out;
}
.hex.spacers {
    visibility: hidden;
}

.hex:before,
.hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}

.hex:before {
    transform: rotate(60deg);
}

.hex:after {
    transform: rotate(-60deg);
}

.hex.empty.clickable:hover{
    background: #F58787;
    cursor: pointer;
}

.hex.j1, .hex.b1
{
    background: #025cf8;
}

.hex.j2, .hex.b2
{
    background: #2ff802;
}

span.j1 {
    color: #025cf8;
}

span.j2 {
    color: #26c204;
}
